.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.DeletedList,.CompletedList,.ToDoList
{
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: cornflowerblue;
  padding: 35px;
  border-radius: 10px;
  }
  .CompletedList,.DeletedList
  {
    width: 100%;
  }
  form
  {
    margin: auto;
    width: 50%;
  }

.display
{
  display: flex;
  margin: 10px;
  width: 100%;
  
}
.card
{
  width: 100%;
}














.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}





